#breadcrumbDiv a {
	text-decoration: none;
	color: #727272;
	font-size: 16px;
}

#breadcrumbDiv {
	padding-top: 8%;
	padding-bottom: 2%;
	width: 100%;
	color: #93c734;
	font-size:16px;
}

.pageHeader {
	font-size:20px;
	color: #ef6b21;
} 

#mainContent {
	margin-left: 2%;
}

#content-wrap h1 {
		font-size: 28px;
	text-decoration:underline;
	color: #195aa5;
	font-weight: bold;
	padding-bottom: 2%;
	padding-top: 2%;
		padding-left: 2%;
}

#mainContent ul {
	list-style-type: square;
}

#mainContent p {
    text-indent: 50px;
}

.mainContentSeperator {
	height: 2px;
	background-color: #ef6b21;
}

#mainHeaderSeperator {
	height: 2px;
	background-color: #195aa5;
}