.homeLink {
	background: url(../images/contact/home_white_25.jpg) no-repeat center;
	height: 25px;
	display: block;
	text-align:center;
}

.homeLink:hover {
	background: url(../images/contact/home_green_25.png) no-repeat center;
}

.mailLink {
	background: url(../images/contact/mail_gr_25.png) no-repeat center;
	height: 25px;
	display: block;
	text-align:center;
}

.mailLink:hover {
	background: url(../images/contact/mail_25.png) no-repeat center;
}