#breadcrumbDiv a {
	text-decoration: none;
	color: #727272;
	font-size: 16px;
}

#breadcrumbDiv {
	padding-top: 1%;
	padding-bottom: 0.5%;
	width: 100%;
	color: #93c734;
	font-size:16px;
	float: left;
}