ul#leftSideMenu { width: 12em; } 

ul#leftSideMenu li {
   list-style: none;
   background-color: #039;
   border-top: solid 1px #039;
   text-align: left;
   margin: 0;
 } 
 
 ul#leftSideMenu li a {
   display: block;
   text-decoration: none;
   padding: .25em;
   border-bottom: solid 1px #39f;
   border-right: solid 1px #39f;
 } 
 
 a:link, a:visited { color: #fff; }
 a:hover, a:active { color: #000; } 