#FooterDiv a{
	float: none;
	font-size:16px;
	display: inline;
	text-decoration:none;
	color: #CCC;
}

#FooterDiv a:hover{
	float: none;
	display: inline;
	text-decoration: none;
	color: #93C734;
}

ul#menu {
	border: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	width: auto;
	list-style: none;
	float: right;
	/*margin-top: 90px;*/
}
ul#menu ul {
	background: #727272;
	height: 25px;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#menu li {
	float: left;
	height: auto;
}

ul#menu li a {
	/*colour of text */
	color: #FFFFFF;
	display: block;
	font-weight: normal;
	line-height: 25px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
	background-color: #93C734;
/*	background-image: url(../images/Green_tab_menu_right.png);*/
	background-repeat: no-repeat;
	background-position: right center;
	border-right-width: 0.5px;
	border-right-style: solid;
	border-right-color: #FFF;
	border-left-width: 0.5px;
	border-left-style: solid;
	border-left-color: #FFF;
	padding-top: 5px;

}
ul#menu > ul > li > a {
	color: #CCCCCC;
}
ul#menu ul ul a {
  color: #93C734;
}
ul#menu li > a:hover,
ul#menu ul li:hover > a,
ul#menu li a.activeTab{
	/* colour of text on mouse over */
	color: #93C734;
	text-decoration: none;
	background-color: #727272;
	background-image: url(../images/Green_tab_menu.png);
	background-repeat: repeat-x;
	background-position: center top;
	font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	/*background-image:   url(file:///C|/Nippon-IT%20Services/NipponTechnocraftItSolutions/images/Green_tab_menu.png);*/
}

ul#menu li ul {
	/* colour of the dropdown */
	background: #727272;
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	position: absolute;
	width: auto;
	z-index: 200;
	min-width: 220px;	
	/*top:1em;
	/*left:0;*/
}
ul#menu li:hover ul {
  display: block;


}
ul#menu li li {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: auto;
	height: auto;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	background-image: url(images/sub_sep.gif);
	background-repeat: no-repeat;
	background-position: center ;

}
ul#menu li:hover li a {
  background: none;
}
ul#menu li ul a {
	display: block;
	height: 20px;
	font-size: 15px;
	font-style: normal;
	margin: 0px;
	text-align: center;
	vertical-align: middle;
	padding-top:0px;
	padding-right: 7px;
	padding-bottom: 2px;
	padding-left: 7px;
}
ul#menu li ul a:hover,
ul#menu li ul li:hover > a {
	/*on hover of the drop down */
  background: #93C734 url('images/hover_sub.png') center left no-repeat;
  border: 0px;
  color: #727272;
  font-weight: bold;
  text-decoration: none;

}
ul#menu p {
  clear: left;
  
}
