@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/* gets rid of the default padding and margins  
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }  */

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		6;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87%;
	padding-left: 1.5%;
	padding-right: 1.5%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#MainDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#TopDiv {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
	background-color: #000000;
}
#LogoDiv {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#NavigationDiv {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#LeftSideDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CenterDiv {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#FooterDiv {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#HeaderDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #666;
}
#SideBarDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#BreadCrumbDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 87.75%;
	padding-left: 1.125%;
	padding-right: 1.125%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#MainDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#TopDiv {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
	background-color: #000000;
}
#LogoDiv {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 30%;
	display: block;
}
#NavigationDiv {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#LeftSideDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CenterDiv {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#FooterDiv {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#HeaderDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;

}
#SideBarDiv {
	clear: both;

	float: left;

	margin-left: 0;

	width: 100%;

	display: block;

}
#BreadCrumbDiv {
	clear: both;

	float: left;

	margin-left: 0;

	width: 100%;

	display: block;

}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 100%;
	max-width: 1232px;
	padding-left: 0%;
	padding-right: 0%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#MainDiv {
	clear: none;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#TopDiv {
	clear: none;
	width: 30px;
	display: block;
	background-color: #93C734;
	text-align: right;
	color: #FFF;
	right: 0px;
	top: 15%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	position: fixed;
	max-width: 1232px;
}
#LogoDiv {
	clear: left;
	float: left;
	margin-left: 1.6949%;
	width: 25%;
	display: block;
}
#LogoDiv1{
clear: none;
	width: 200px;
	display: block;
	background-color: #93C734;
	text-align: left;
	color: #FFF;
	left: 15%;
	top: 0%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	position: fixed;
	max-width: 1232px;
}
#TagLineDiv {
	clear: none;
	float: left;
	margin-top: 10px;
	width: 70%;
	display: block;
	color: #FFFFFF;
	font-weight:400;
	font-size: 24px;
}

#NavigationDiv {
	clear: none;
	width: 100%;
	/*margin-left: 30%;*/
	display: block;
	margin-left: 0px;
	background-color: #93C734;
}
#CenterDiv {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 100%;
	background-color: #FFF;
	display: block;
}
#FooterDiv {
	clear: none;
	float: center;
	margin-left: 1.6949%;
	width: 100%;
	display: block;
	background-color: #666;
	background-image: url(../images/Green_tab_menu.png), url(../images/header_background.png);
	background-repeat: repeat-x, round;
	background-position: center top;
	display: block;
	text-decoration: none;
	color: #CCC;
	font-size:14px;
/*		bottom: 2px;
	position: fixed;
	max-width: 1232px;*/
}

#HeaderDiv {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 100%;
	display: block;
	background-color: #666;
	background-image: url(../images/header_background.png);
	background-repeat: round;
	height: 100%;
}

#copyrightDiv {
	clear: none;
	float: right;
	margin-left: 1.6949%;
	width: 25%;
	display: block;
}

#salesInfoDiv {
	clear: none;
	float: left;
	margin-left: 10%;
	width: 60%;
	display: block;
}

#SideBarDiv {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 20%;
	display: block;
}

#BreadCrumbDiv {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 100%;
	display: block;
	background-color:#CCC;
}
}